.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 8svh;
    padding: 1%;
    box-shadow: 0 0 5px #888888;
    background-color: white;
    position: relative;
}

.App-logo {
    width: 200px;
}

.btn {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.btn-home,
.btn-manage {
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    font-weight: 500;   
}

.btn-home:hover,
.btn-manage:hover {
    color: #307FE2;
}

.btn-logout {
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    background-color: #307FE2;
}

.btn-logout:hover {
    background-color: #236fcc;
}