.search {
    position: relative;
    top: 0;
    left: 0;
    width: 65svw;
    height:92svh;
    border-right: 1px solid #ccc;
    padding:20px;

}

.search-bar {
    display: flex;
    flex-direction: row;
    /* padding: 13px; */
    border: 1px solid #b6b6b6;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
}

.search-icon {
    padding: 9px 12px 9px 20px;

}

.search-text {
    margin-right: auto;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 15px;
    outline: transparent;
}

.btn-search {
    background-color: #3080e236;
    border: 1px solid #307FE2;
    color:#307FE2;
    font-weight: 700;
    border-radius: 100px;
    padding: 9px 20px 9px 20px;
    margin: 7px;
}

.most-search {
    padding-block: 20px 5px;
    border-bottom: 1px solid #ccc;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0 0 0;
    padding:5px 0 0 0;
    justify-content: space-between;
    height: 71%;
    overflow-y: auto;
}

.result-container {
    position: relative;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #888888;
    border-radius: 10px;
    width: 32%;
    /* margin-right: 20px;
    margin-bottom: 20px; */

}

.result-container .title {
    font-weight: 500;
    margin: 0;
}

.result-container .content {
    height: 140px;
    overflow: hidden;
    margin-block: 5px;
    position: relative;
}

.btn-view {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3080e236;
    border: 1px solid #307FE2;
    justify-self: right;
    color:#307FE2;
    border-radius: 100px;
    padding: 3px 10px 3px 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 600;
}